.idea
/Library/
/Temp/
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-AssetImportWorker0.log
*.log
Logs/shadercompiler-UnityShaderCompiler.exe0.log
UserSettings/Layouts/default-2021.dwlt
Logs/shadercompiler-UnityShaderCompiler.exe0.log
